:root {
  --black: #000000;
  --black-70: #000000b3;
  --black-50: #00000080;
  --black-20: #00000033;
  --gray-dark: #121212;
  --gray-blue: #18181c;
  --gray: #292929;
  --gray-light: #444444;
  --white: #fff;
  --green: #65d36e;
}
