/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

//Variables
$black: #000000;
$black-70: #000000b3;
$black-50: #00000080;
$black-20: #00000033;
$gray-dark: #121212;
$gray-blue: #18181c;
$gray: #292929;
$gray-light: #444444;
$white: #fff;
$green: #65d36e;

//Media
@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 834px) {
    @content;
  }
}

//Homepage
p {
  color: $white;
  margin: 0;
}
h1 {
  color: $white;
}

// --- Header ---
header {
  position: relative;
  background-image: url("/public/images/header.jpg");
  background-size: cover;
  background-position: right;
  padding: 217px 0;

  .header-content {
    bottom: 32px;
    left: 32px;
    position: absolute;
    height: max-content;
    .header-info {
      width: 316px;
      z-index: 2;
      p {
        font-size: 16px;
        letter-spacing: -0.52px;
      }
      h1 {
        font-size: 48px;
        margin: 16px 74px 16px 0;
        line-height: 100%;
        letter-spacing: -1.5px;
      }
      .header-desc {
        p {
          color: #bfbfbf;
          letter-spacing: -0.52px;
        }
      }
    }
  }
}
@include desktop {
  header {
    .header-content {
      bottom: 32px;
      left: 32px;
      .header-info {
        width: 360px;
        p {
          font-size: 18px;
        }
        h1 {
          font-size: 68px;
          margin: 24px 10px 24px 0;
        }
      }
    }
  }
}
// --- Nav Top---
.nav-top {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $black-50;
  z-index: 1;
  .nav-left-arrow {
    padding: 19px 16px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border-radius: 200px;
      background-color: $black-50;
      img {
        padding: 14px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

// --- Main ---
main {
  background-color: $black;
  padding: 24px 16px;
  .options-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      &.options-container-play {
        button {
          display: flex;
          align-items: center;
          background-color: $green;
          border: none;
          border-radius: 200px;
          margin: 0;
          padding: 17px;

          img {
            width: 21px;
          }
        }
      }
      &.options-container-like {
        button {
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          padding: 0;
          img {
            width: 26px;
          }
        }
      }
      &.options-container-menu {
        button {
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          padding: 0;
          img {
            width: 46px;
          }
        }
      }
    }
  }
  .music-list {
    width: 100%;
    .music-list-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: $gray-blue;
      padding: 17px 24px 16px 24px;
      border-radius: 17px;
      margin-bottom: 16px;
      &.active {
        background-color: $gray-light;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: $gray;
      }
      .music-list-box-wrapper {
        display: flex;
        align-items: center;
        &.artists {
          display: none;
        }
        &.time {
          display: none;
        }
        .music-list-box-number {
          p {
            font-size: 18px;
            color: #bfbfbf;
          }
        }
        .music-list-box-img {
          padding: 0 24px;
          height: 56px;
          img {
            border-radius: 8px;
            width: 56px;
          }
        }
        .music-list-box-info {
          .music-album {
            margin-bottom: 6px;
            p {
              font-size: 14px;
              color: #bfbfbf;
            }
          }
        }
      }
      .music-list-box-menu {
        img {
          width: 36px;
        }
      }
    }
  }
}
@include tablet {
  main {
    .music-list {
      .music-list-box {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 17px 51px 16px 50px;
        .music-list-box-wrapper {
          &.artists {
            display: flex;
          }
        }
        .music-list-box-menu {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
@include desktop {
  main {
    background-color: $gray-dark;
    .options-container {
      div {
        &.options-container-play {
          button {
            img {
              width: 21px;
            }
          }
        }
        &.options-container-like {
          button {
            img {
              width: 32px;
            }
          }
        }
        &.options-container-menu {
          button {
            img {
              width: 52px;
            }
          }
        }
      }
    }
    .music-list {
      .music-list-box {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        .music-list-box-wrapper {
          &.time {
            display: flex;
          }
        }
      }
    }
  }
}
// --- Nav Bottom ---
.nav-bottom {
  display: none;
  a {
    &:hover {
      span {
        color: $white;
      }
    }
  }
}
@include tablet {
  .nav-bottom {
    justify-content: center;
    display: flex;
    position: sticky;
    bottom: 0;

    background-color: $black;
    .nav-bottom-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 19px 103px 19px 0;
      &:last-child {
        padding-right: 0;
      }
      .nav-bottom-container-icon {
        &.active {
          a {
            color: #fff;
          }
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
          color: #bfbfbf;
          span {
            font-weight: 700;
            font-size: 12px;
          }
          svg {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@include desktop {
  .nav-bottom {
    display: none;
  }
}
