/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

$black: #000000;
$black-70: #000000b3;
$black-50: #00000080;
$black-20: #00000033;
$gray-dark: #121212;
$gray-blue: #18181c;
$gray: #292929;
$white: #fff;
$green: #65d36e;

p {
  color: $white;
  margin: 0;
}
h1 {
  color: $white;
}

// --- Header ---
header {
  position: relative;
  background-image: url("/public/images/header.jpg");
  background-size: cover;
  background-position: right;
  padding: 217px 0;

  .header-content {
    bottom: 0;
    position: absolute;
    height: max-content;
    .header-info {
      margin: 32px 27px 32px 32px;
      z-index: 2;
      p {
        font-size: 16px;
      }
      h1 {
        font-size: 48px;
        margin: 16px 0;
        line-height: 100%;
      }
      .header-desc {
        p {
          color: #bfbfbf;
          letter-spacing: -0.52px;
        }
      }
    }
  }
}
// --- Nav ---
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $black-50;
  z-index: 1;
  .nav-left-arrow {
    padding: 19px 16px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border-radius: 200px;
      background-color: $black-50;
      img {
        padding: 14px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

// --- Main ---
main {
  background-color: $black;
  padding: 24px 16px;
  .options-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      &.options-container-play {
        button {
          display: flex;
          align-items: center;
          background-color: $green;
          border: none;
          border-radius: 200px;
          margin: 0;
          padding: 17px;

          img {
            width: 21px;
          }
        }
      }
      &.options-container-like {
        button {
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          padding: 0;
          img {
            width: 26px;
          }
        }
      }
      &.options-container-menu {
        button {
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          padding: 0;
          img {
            width: 46px;
          }
        }
      }
    }
  }
  .music-list {
    width: 100%;
    .music-list-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: $gray-blue;
      padding: 17px 24px 16px 24px;
      border-radius: 17px;
      margin-bottom: 16px;
      .music-list-box-wrapper {
        display: flex;
        align-items: center;
        .music-list-box-number {
          p {
            font-size: 18px;
            color: #bfbfbf;
          }
        }
        .music-list-box-img {
          padding: 0 24px;
          height: 56px;
          img {
            border-radius: 8px;
            width: 56px;
          }
        }
        .music-list-box-info {
          .music-title {
            margin-bottom: 6px;
            p {
              font-size: 14px;
              color: #bfbfbf;
            }
          }
        }
      }

      .music-list-box-menu {
        img {
          width: 36px;
        }
      }
    }
  }
}
